/*-----------
    DEBUG
-----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-----------
    DEBUG
-----------*/
.debug header {
    background-color: #add8e6;
}

.debug .header-top {
    height: 50px;
    background-color: #daa520;
    border-style: dashed;
}

/*-----------
    HEADER
-----------*/
header {
    padding: 20px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-----------
    MAIN
-----------*/

/*-----------
    FOOTER
-----------*/

/*-----------
    COMMON
-----------*/

.container {
    max-width: 1200px;
    margin: auto;
}