/*-----------
    DEBUG
-----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-----------
    DEBUG
-----------*/
.debug header {
    background-color: #add8e6;
}

.debug .header-top {
    height: 50px;
    background-color: #daa520;
    border-style: dashed;
    border-width: 2px;
}

.debug .row1 {
    background-color: #00008b;
    padding: 34px;
}

.debug .firstsection {
    background-color: #ee82ee;
    height: 400px;
    border-style: dashed;
    border-width: 2px;
}

/*-----------
    HEADER
-----------*/
section {
    padding: 16px 0;
}

header {
    padding: 20px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

/*-----------
    MAIN
-----------*/
.firstsection {
    width: 900px;
    margin: auto;
    
}
/*-----------
    FOOTER
-----------*/

/*-----------
    COMMON
-----------*/

.container {
    max-width: 1200px;
    margin: auto;
}